.page.dark-theme {
  .chat {
    .chat__users {
      p {
        color: white;
      }
    }
    .messages {
      .messages__left {
        .message {
          background-color: #D1C3FF;
          box-shadow: 0 0 1em #D1C3FF;
          p {
            color: black;
          }
        }
      }
      .messages__right {
        .message {
          background-color: #5A42D2;
          box-shadow: 0 0 1em #5A42D2;
          p {
            color: white;
          }
        }
      }
    }
    .send__messages {
      button {
        background-color: #D1C3FF;
      }
    }
  }
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .chat__users {
    margin-top: 45px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 15px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    p {
      font-size: 24px;
      margin-left: 15px;
      margin-right: 25px;
      font-weight: 600;
      color: #6683F4;
    }
  }

  .messages {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 860px;

    .messages__right {
      margin-left: 20px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      height: 85px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .message {
        border-radius: 10px;
        padding: 15px;
        background-color: #cedefd;
        box-shadow: 0 0 1em #dae8ff;
        max-width: 50%;

        .main__message {
          font-size: 16px;
          margin-bottom: 5px;
          font-weight: 500;
        }

        p {
          text-align: left;
          font-size: 10px;
        }
      }
    }

    .messages__left {
      margin-right: 43px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 10px;
      color: white;
      height: 85px;

      img {
        margin-left: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .message {
        border-radius: 10px;
        padding: 15px;
        background-color: #96adff;
        box-shadow: 0 0 1em #96adff;
        max-width: 50%;

        .main__message {
          font-size: 16px;
          margin-bottom: 5px;
          font-weight: 500;
        }

        p {
          text-align: right;
          font-size: 10px;
        }
      }
    }
  }

  .send__messages {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    input {
      width: 70%;
      //border: none;
      border-radius: 10px;
      padding: 15px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border: 1px solid #6683F4;

    }

    button {
      width: 50px;
      height: 50px;
      padding: 5px;
      background-color: #96adff;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      cursor: pointer;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}
@media (min-width: 1440px) {
  .page {
    .chat {
      .send__messages {
        input {
          width: 50%;
        }
      }
    }
  }

  .page.dark-theme {
    .chat {
      .send__messages {
        input {
          width: 50%;
        }
      }
    }
  }

}
@media (max-width: 510px) {
  .chat {
    .messages {
      .messages__left {
        margin-right: 20px;
        img {
          width: 35px;
          height: 35px;
        }
      }
      .messages__right {
        img {
          width: 35px;
          height: 35px;
        }
      }
    }
    .chat__users {
      margin-top: 20px;
      img  {
        width: 35px;
        height: 35px;
      }
      p {
        font-size: 22px;
      }
    }
  }

}