/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

$body-font: 'KoHo', sans-serif;
$font-color: aliceblue;
$message-lis-color: #7a7e92;

* {
  box-sizing: border-box;
}

.page {
  background-color: #eaf6fd;
  height: 100vh;
  font-family: $body-font;

  .main__page_signout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px);

    .main__page_signout-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 500px;
      height: 500px;
      background-color: #6683F4;
      border-radius: 50%;
      box-shadow: 0 0 1em #6683F4;

      span {
        color: #d7e3fc;
        font-family: $body-font;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 32px;
      }

      strong {
        color: aliceblue;
        font-family: $body-font;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 32px;
      }
    }
  }
}

.app__header {
  height: 80px;
  background-color: #6683F4;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 0 1em #6683F4;

  .container {
    margin: auto;
    max-width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hamburger {
      margin-left: 20px;
      margin-right: 20px;
      cursor: pointer;
      background-color: #6683F4;
      border: none;
      display: none;

      span {
        display: block;
        width: 20px;
        height: 2px;
        border: 1px solid $font-color;
        margin-bottom: 5px;
      }
    }

    .logo {
      margin-left: 20px;

      span {
        color: #d7e3fc;
        font-family: $body-font;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 24px;
      }

      strong {
        color: aliceblue;
        font-family: $body-font;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 24px;
      }
    }
  }
}


.nav-list {
  display: flex;
  margin-right: 20px;
  color: $font-color;
  align-items: center;

  .nav-list-text a {
    margin-left: 20px;
    color: $font-color;
    text-decoration: none;

    img {
      height: 50px;
      width: 50px;
      color: $font-color;
      text-decoration: none;
      margin-right: 20px;
      border-radius: 50%;
    }
  }
}

.page {
  position: relative;

  section {
    .wave {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background: url("images/wave.png");
      background-size: 1000px 100px;

      &.wave1 {
        animation: animate 30s linear infinite;
        z-index: 1000;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0;
      }

      &.wave2 {
        animation: animate2 15s linear infinite;
        z-index: 999;
        opacity: 0.5;
        animation-delay: -5s;
        bottom: 10px;
      }

      &.wave3 {
        animation: animate 30s linear infinite;
        z-index: 998;
        opacity: 0.2;
        animation-delay: -2s;
        bottom: 15px;
      }

      &.wave4 {
        animation: animate2 5s linear infinite;
        z-index: 997;
        opacity: 0.7;
        animation-delay: 0s;
        bottom: 20px;
      }
    }
  }
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

@keyframes animate3 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@media (max-width: 880px) {
  .main__page {
    .container {
      .user__page-list {
        width: 220px;

        .user-list {
          .users {
            text-align: center;

            img {
              width: 40px;
              height: 40px;
            }

            .user-date {
              margin-right: 20px;
            }

            .user-description {
              .user-desc-unread {
                font-size: 16px;
              }

              h1 {
                font-size: 16px;
              }

              p {
                width: 90px;
                height: 20px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .page {
    .main__page_signout {
      .main__page_signout-text {
        width: 350px;
        height: 350px;
      }
    }
  }
  .app__header {
    .container {
      .hamburger {
        display: block;
      }
      .hamburger.show {
        width: 32px;
        height: 23px;
        span:nth-child(1) {
          display: none;
        }
        span:nth-child(2) {
          transform: rotate(45deg);
          position: absolute;
          transition: 0.5s;
        }
        span:nth-child(3) {
          transform: rotate(-45deg);
          position: absolute;
          transition: 0.5s;
        }
      }
      display: flex;

      .logo {
        margin: auto;
      }

    }
  }
  .main__page {
    .container {
      .user__page-list {
        position: absolute;
        left: -220px;
        transition: 1s;
        z-index: 9999;
        background-color: #eaf6fd;
      }

      .user__page-list.show {
        left: 0;
        height: 100vh;
      }
    }

    .chat {
      width: 100%;
      transition: 0.5s;
    }

    .chat.show {
      .messages {
        overflow-y: scroll;
      }
    }
  }
}

@media (max-width: 515px) {
  .app__header {
    .container {
      .logo {
        strong {
          font-size: 16px;
        }

        span {
          font-size: 16px;
        }
      }

      .nav-list {
        margin-right: 15px;

        .nav-list-text {
          width: 45px;
          text-align: right;

          button {
            font-size: 10px;
          }

          a {
            margin-left: 0;
            font-size: 12px;

            img {
              margin-right: 0;
              height: 35px;
              width: 35px;
            }
          }
        }
      }
    }
  }
}
